<div class="pre-draft" ng-if="!draftLive.isDraftStarted">
    <h2>Draft Options</h2>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Players</h2>
        </div>
        <ul class="mdl-list">
            <li class="mdl-list__item" ng-repeat="player in draftLive.players track by $index">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons  mdl-list__item-avatar">person</i>
                    <input ng-if="!player.isAI" type="text" ng-model="player.name"/>
                    <span ng-if="player.isAI" type="text">AI Player</span>
                </span>
                <span class="mdl-list__item-secondary-action" mdl-upgrade>
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-{{$index}}">
                        <input type="checkbox" id="list-switch-{{$index}}" class="mdl-switch__input" ng-checked="player.isAI" ng-model="player.isAI"/>
                    </label>
                </span>
            </li>
        </ul>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="draftLive.startDraft()">Start Draft</button>
</div>
<div class="draft" ng-if="draftLive.isDraftStarted">
    <div class="pack-view">
        <h2>Pick {{draftLive.myPlayer.currentPickIndex+1}}, Pack {{draftLive.myPlayer.currentPackIndex + 1}}</h2>
        <img ng-repeat="card in draftLive.myPlayer.currentPack.cards track by $index" class="booster-pack-card" ng-src="{{draftLive.getImageSrc(card.name)}}" alt="{{card.name}}" title="{{card.name}}" id="{{card.multiverseid}}" ng-click="draftLive.pickCard(card)" ng-hide="card.picked">
    </div>
    <div class="collection-view" mdl-upgrade>
        <h2>My Picks</h2>
        <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Sort
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
            <li class="mdl-menu__item" ng-click="draftLive.sortByColor()">Color</li>
            <li class="mdl-menu__item" ng-click="draftLive.sortByCMC()">Converted Mana Cost</li>
        </ul>
        <div class="collection-container">
            <img ng-repeat="card in draftLive.myPlayer.collection track by $index" class="booster-pack-card" ng-src="{{draftLive.getImageSrc(card.name)}}" alt="{{card.name}}" title="{{card.name}}" id="{{card.multiverseid}}" ng-hide="card.inDeck" ng-click="draftLive.addCardToDeck(card)">
            <p ng-if="draftLive.myPlayer.collection.length === 0">Empty</p>
        </div>
    </div>
    <div class="deck-view">
        <h2>My Deck</h2>
        <img ng-repeat="card in draftLive.myPlayer.collection track by $index" class="booster-pack-card" ng-src="{{draftLive.getImageSrc(card.name)}}" alt="{{card.name}}" title="{{card.name}}" id="{{card.multiverseid}}" ng-show="card.inDeck" ng-click="draftLive.removeCardFromDeck(card)">
        <p ng-if="draftLive.myPlayer.deck.length === 0">Empty</p>
    </div>
</div>
