<div class="collection-view" mdl-upgrade>
    <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        Sort
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
        <li class="mdl-menu__item" ng-click="collectionView.sortByColor()">Color</li>
        <li class="mdl-menu__item" ng-click="collectionView.sortByCMC()">Converted Mana Cost</li>
    </ul>
    <div class="collection-container">
        <img ng-repeat="card in collectionView.collection track by $index" class="booster-pack-card" ng-src="{{collectionView.getImageSrc(card.name)}}" alt="{{card.name}}" title="{{card.name}}" id="{{card.multiverseid}}" ng-hide="card.inDeck" ng-click="collectionView.addCardToDeck(card)">
        <p ng-if="collectionView.myPlayer.collection.length === 0">Empty</p>
    </div>
</div>
